beautifulsoup4==4.13.4
datasets==3.6.0
fastapi-cli==0.0.7
huggingface-hub==0.30.2
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langsmith==0.1.147
matplotlib-inline==0.1.7
mcp==1.6.0
numpy==1.26.4
pandas==2.2.3
peft==0.10.0
requests==2.32.3
selenium==4.31.0
tokenizers==0.20.3
torch==2.6.0
trl==0.8.6
tqdm==4.67.1
transformers==4.45.0
urllib3==2.4.0
uvicorn==0.34.2
